/Java/Sistema/nbproject/private/
/Java/Sistema/build/
/Java/Evaluacion/nbproject/private/
/Java/Evaluacion/build/
/Java/Evaluacion - BA16010/Evaluacion/build/
/Java/Evaluacion - BA16010/Evaluacion/nbproject/private/
/Java/Cronometro/nbproject/private/
/Java/Cronometro/build/
/Java/Reloj/nbproject/private/
/Java/Reloj/build/